@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  width: 120vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  border: 2px solid #717377;
  padding: 20px;
  margin-left: 550px;
  border-radius: 20px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 312px;
    /* width: 100%; */
    margin: 10px;
    padding: 24px;
    background: transparent;
    border: none;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}

input::placeholder{
    color:aliceblue ;
}

button{
    border: none;
    width: 60px ;
    aspect-ratio: 1;
    margin: 8px;
    border-radius: 50%;
    font-size: 20px;
    background: transparent;
    color: aliceblue;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.09);
    cursor: pointer;
}

.operator{
    color: green;
}

.delete{
  border-radius: 15%;
  width: 100px;
  height: 60px;
  color: red;

}
#equalbtn{
    background-color: orangered;
}